" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set relativenumber
set number

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

let mapleader = " "

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

vnoremap <S-j> :m'>+<CR>gv=gv
vnoremap <S-k> :m-2<CR>gv=gv

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
map <leader>d <Action>(Debug)
map <leader>r <Action>(Run)
map <leader>R <Action>(RunAnything)
map <leader>q <Action>(Stop)
map grn <Action>(RenameElement)
map <leader>sl <Action>(PrevSplitter)
map <leader>sr <Action>(NextSplitter)
map <leader>tr <Action>(NextTab)
map <leader>tl <Action>(PreviousTab)
map <leader>cm <Action>(ExtractMethod)
map <leader>cv <Action>(IntroduceVariable)
map <leader>cc <Action>(IntroduceConstant)
map <leader>ci <Action>(Inline)
map <leader>pv <Action>(SplitVertically)
map <leader>ph <Action>(SplitHorizontally)
map <leader>f <Action>(ReformatCode)

" Bookmarks
nmap <leader>bt <Action>(ToggleBookmark)
nmap <leader>bm <Action>(ToggleBookmarkWithMnemonic)
nmap <leader>bs <Action>(ActivateBookmarksToolWindow)
nmap <leader>bp <Action>(GotoPreviousBookmark)
nmap <leader>bn <Action>(GotoNextBookmark)
nmap <leader>bl <Action>(ShowBookmarks)

nmap <leader>b0 <Action>(GotoBookmark0)
nmap <leader>b1 <Action>(GotoBookmark1)
nmap <leader>b2 <Action>(GotoBookmark2)
nmap <leader>b3 <Action>(GotoBookmark3)
nmap <leader>b4 <Action>(GotoBookmark4)
nmap <leader>b5 <Action>(GotoBookmark5)
nmap <leader>b6 <Action>(GotoBookmark6)
nmap <leader>b7 <Action>(GotoBookmark7)
nmap <leader>b8 <Action>(GotoBookmark8)
nmap <leader>b9 <Action>(GotoBookmark9)

vmap <leader>bt <Action>(ToggleBookmark)
xmap <leader>bt <Action>(ToggleBookmark)
vmap <leader>bm <Action>(ToggleBookmarkWithMnemonic)
xmap <leader>bm <Action>(ToggleBookmarkWithMnemonic)

" Navigation and Jumps
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
"" Map \b to toggle the breakpoint on the current line
" map \b <Action>(ToggleLineBreakpoint)

